{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    # email alice@example.com 
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
${OWNCAST_URL} {
    reverse_proxy owncast:8080
}
www.${OWNCAST_URL} {
    redir https://${OWNCAST_URL}{uri}
}
